@charset "UTF-8";

/*Header*/
.header-container{
    background-color: red;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header-nav, .header-list{
    width:100%;
    height:100%;
}

/*Main*/
.main-container{
    margin: 10vh 0;
}

/*Create Post*/
.create-post-conteiner{
    border-radius: 2rem;
    border: thin solid;
    margin: 2rem 0 1rem 0;
    height: 2rem;
    width: 80%;
}
.create-post-area{
    width: 95%;
}

#create-post{
    width: 90%;
    height: 80%;
    outline: none;
    border:none;
    
}

/*Posts*/
.post-card{
    width: 80%;
    border: thin solid;
    border-radius: 2rem;
    margin: 1rem;
    overflow: hidden;
}

/*Post header*/
.post-header{
    width: 100%;
    height: 8vh;
}

/*Profile*/
.profile-pic-area{
    border-radius: 50%;
    height: 5vh;
    width: 10vw;
    border: thin solid black;
    overflow: hidden;
}

#profile-pic{
    width: 100%;
}

/*Post body*/
.post-body{
    text-align: justify;
    width: 80%;
    height: 50%;
    margin-bottom: 0.5rem;
}
/*Post footer*/
.post-footer{
    width: 80%;
    margin-bottom: 0.6rem;
}

.post-tags-area{
    width: 60%;
}

.post-tags{
    width: 100%;
}

/*Footer*/
.footer-container{
    background-color: red;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.footer-nav, .footer-list{
    width:100%;
    height:100%;
} 